@use "../../scss/" as *;

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 1rem;
    margin-bottom: 3rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    &__loadmore {
        text-align: center;
    }
}

.code {
    img {
        height: 2rem;
    }
}

.movie-search-panel {
    height: $header-height;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 98;
    background-color: $body-bg;
    border: 1px solid black;
    box-shadow: inset 0px 0px 0px 2px white;
    box-sizing: border-box;
    border-radius: 5rem;
    position: relative;

    .movie-search-title {
        position: absolute;
        top: 0;
        left: 4rem;
        display: inline-block;
        background-color: #0f0f0f;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -1.1rem;
    }

    .movie-search-stats {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 800px;
    }

    .movie-search {
        position: relative;
        margin: auto;
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 800px;

        input {
            width: 100%;
            padding-right: 8rem;
            background-color: $white;
        }

        .row,
        .col {
            text-align: center !important;
        }

        button {
            position: absolute;
            right: 0;
            top: 0px;
            border-width: none !important;
            outline: 1px solid #0f0f0f;
            border-radius: 10px;

            @include mobile {
                right: 1px;
                top: 1px;
            }
        }
    }
}
