@use "../../scss/" as *;
@import "react-bootstrap-range-slider/dist/react-bootstrap-range-slider.scss";

$accordion-icon-active-color: #ff0000;

.card {
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.card-title {
    color: red;
    font-size: 1rem;
}

.card-body {
    h6 {
        color: red;
    }
}

.col-3 {
    padding-right: 0 !important;
}

.card-header .fa {
    transition: 0.3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.filter-panel {
    margin-top: 1rem;
}

.accordion-header {
    background-color: black !important;

    .accordion-button {
        color: #ff0000;
        font-size: 1rem;
        font-weight: 600;
    }

    .accordion-button:after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff0000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

.btn-outline {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    border: 1px solid red;
    background-color: transparent;
    color: red;
    box-shadow: initial;
    transition: color 0.3s ease;
}

.btn-outline:hover {
    box-shadow: 0px 0px 7px 15px #ff00004d;
    background-color: $main-color;
    color: white;
    z-index: 1;
}

.btn-outline:active {
    box-shadow: 0px 0px 7px 15px #ff00004d;
    background-color: $main-color;
    color: white;
    z-index: 1;
}

.btn-check {
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
    border: 3px solid red;
    background-color: transparent;
    color: red;
    box-shadow: initial;
    transition: color 0.3s ease;
}

.btn-check:hover {
    box-shadow: 0px 0px 7px 15px #ff00004d;
    background-color: $main-color;
    color: white;
    z-index: 1;
}

.btn-check:active {
    box-shadow: 0px 0px 7px 15px #ff00004d;
    background-color: $main-color;
    color: white;
    z-index: 1;
}

.side-by-side {
    display: flex;
    flex-direction: row;
}

.react-datepicker-wrapper {

    padding-right: 0px !important;
    vertical-align: middle;

    .react-datepicker__input-container,
    .react-datepicker__input-container .input {
        width: 100% !important;
        padding: 0.1rem !important;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 5px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        appearance: none;
        margin-bottom: 0.5rem;
        text-align: center;
        z-index: 1 !important;
    }
    .react-datepicker-popper {
        z-index: 2;
    }
}

.btn-danger:focus,
.btn-outline:focus {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    border: 1px solid red;
    background-color: transparent;
    color: red;
    box-shadow: initial;
    transition: color 0.3s ease;
}

// .btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    border: 1px solid transparent;
    background-color: $main-color;
    color: $white;
    border-radius: $border-radius;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    box-shadow: 0px 0px 7px 8px #ff00004d;
    transition: box-shadow 0.3s ease;
    z-index: 1;
}

.card-panel {
    display: block;
    margin-top: 0.5rem;

    .multi_select {
        display: block;
        text-align: center;
        ul {
            padding: 0;
        }
        li {
            display: inline-flex;
            border-radius: 14px;
            padding: 0.1rem;
            font-size: 0.6em;
            margin-right: 0.1rem;
            margin-top: 0.2rem;
        }
    }
}

.apply-filter {
    .btn-outline {
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
        width: 100%;
        border: 1px solid red;
        border-radius: 5px;
        background-color: red;
        color: white;
        box-shadow: initial;
        transition: color 0.3s ease;
    }
    
    .btn-outline:hover {
        box-shadow: 0px 0px 7px 15px #ff00004d;
        background-color: white;
        color: $main-color;
        z-index: 1;
    }
}
